<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{# if user  }}
  <p>You are currently logged in as {{user.username }}</p>
<a href="/logout">Logout</a>
{{else}}
  <p><a href="/login">Login</a></p>
  <p><a href="/register">Register</a></p>

{{/if}}

<br>

{{# each anyArray as |val key| }}
  key: {{ key }}
  value: {{ val }}
  <br>
{{/each}}
